
    body {
      font-family: Arial, Helvetica, sans-serif;
      background: navy;
      color: hotpink;
    }
    
    * {
      box-sizing: border-box;
    }
    
    /* Style inputs */
    input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }
    
    input[type=submit] {
      background-color: #04AA6D;
      color: white;
      padding: 12px 20px;
      border: none;
      cursor: pointer;
    }
    
    input[type=submit]:hover {
      background-color: #45a049;
    }
    
    /* Style the container/contact section */
    .container {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 10px;
    }
    
    /* Create two columns that float next to eachother */
    .column {
      float: left;
      width: 50%;
      margin-top: 6px;
      padding: 20px;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
      .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
      }
    }
     
 
    .fa-phone
    {
     color: seagreen;
     width: 30px;
     height: 20px;
    }
    .fa-whatsapp-square
    {
     color: seagreen;
     width: 30px;
     height: 20px;
    }
    
    .fa-envelope-square
    {
     color: navy;
     width: 30px;
     height: 20px;
    }
    .fa-globe
    {
     color: navy;
     width: 30px;
     height: 20px;
    }
    
    .fa-frown
    {
     color:#f7c00d ;
     width: 50px;
     height: 50px;
    }
    
    .follow_us p
    {
     text-align: center;
     font-size: 15px;
     font-weight: 700;
     color: darkorange;
    }
    
    
    .fa-facebook-f,
    .fa-twitter
    {
     color: rgb(6, 53, 99);
     width: 20px;
     height: 20px;
    }
    
    .fa-instagram-square
    {
     color: blueviolet;
     background: ;
     width: 20px;
     height: 20px;
    }
    
    .fa-youtube-square
    {
     color: rgb(82, 5, 8);
     background: white;
     width: 20px;
     height: 20px;
    }

   