
*
{
box-sizing: border-box;
}

/* Style the body */
body 
{
 font-family: Arial, Helvetica, sans-serif;
 margin: 0;
 color: ghostwhite;
}

/* Header/logo Title */
.header 
{
 padding-top: 30px;
 text-align: center;
 background-image: url(./images/computer\ Science.gif);
 background-repeat: no-repeat;
 background-size: cover;
 opacity: 3;
 color: white;
}

/* format of website logo */
#logo
{
  width: 200px ;
  border-radius: 100%;
  opacity: 6;
}

/* company slogan */
.header .Slogan
{
 color: darkorange;
 font-family: 'French Script MT';
 font-size: 50px;
 font-weight: 900;
}

/* Increase the font size of the heading */
.header h1
{
 font-size: 50px;
 color: #ac3b07;
 font-weight: 900;
 font-family: 'Franklin Gothic Heavy';
}

/* Style the top navigation bar */
.navbar 
{
 overflow: hidden;
 background-color:  #050f5e;
}
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .login-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width:120px;
}

.topnav .login-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background-color: #555;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .login-container button:hover {
  background-color: green;
}

@media screen and (max-width: 600px) {
  .topnav .login-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .login-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}
/* Style the navigation bar links */
.navbar a 
{
 float: left;
 display: block;
 color: white;
 background-color: #410f02;
 text-align: center;
 padding: 14px 20px;
 text-decoration: none;
}

/* Right-aligned link */
.navbar a.right 
{
float: right;
}

/* Change color on hover */
.navbar a:hover 
{
background-color: #f1f1f1;;
color: navy;
}

/* Column container */
.row 
{  
 display: -ms-flexbox; 
 display: flex;
 -ms-flex-wrap: wrap; 
 flex-wrap: wrap;
}


/* Sidebar/left column */
.side 
{
 -ms-flex: 30%;
 flex: 30%;
 background-color: #f1f1f1;
 padding: 20px;
}

/* Main column */
.main 
{   
 -ms-flex: 70%; 
  flex: 70%;
  background-color:#4f055e;
  padding: 20px;
}
/* format all h5 Tittles */
h5
{
    color: yellow;
    font-size: 20px;
    font-weight: 900;
}
/* format all h3 Tittles */
h3
{
    color: navy;
    font-size: 20px;
    font-weight: 900;
}
/* format all h2 Tittles */
h2
{
    color: burlywood;
    font-size: 20px;
    text-align: center;
    font-weight: 900;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) 
{
  .row 
    {   
      flex-direction: column;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) 
{
.navbar a
    {
     float: none;
     width: 100%;
    }
}
.Wkg-Hrs
{
  font-size: 15px;
  font-weight: 900;
}
/* Author-Details */
.Author
{
padding-top: 80px;
float: right;
color: orangered;
font-weight: 900;
}

/* Author-Name */
.Author span
{
color: ghostwhite;
font-weight: 900;
}
.bottom_links
 {
	overflow: hidden;
	background-color: #410f02;
	color: ghostwhite;
	position:relative;
    top: 10px;
	bottom: 5px;
	width: 100%;
	justify-content: space-between;
	align-items: center;
 
}
  
.bottom_links a 
{
	display: inline-block;
	color: dimgrey;
	padding: 8px;
	text-decoration: none;
	font-size: 15px;
	font-weight: bolder;
	margin-top: 5px;
 margin-bottom: 0px;
}

.bottom_links a:hover
{
 background: #c0bebd;
 color: black;
 font-weight: 900;
}

.footer-body
{
 color: black;
 font-size: 20px;
 text-align: center;
 background: #522010;
 padding: 0px;
 justify-content: center;
} 



.Contacts_header
{
 color: white;
 font-weight: bolder;
 font-size: 90%;
 font-family: Arial, Helvetica, sans-serif;
 margin-left: 20px;
 text-align: left;
}

.Contacts
{
 font-size: 7px;
 color: white;
 background: rgba(72, 35, 6, 0);
 font-weight: 700;
 font-size: 70%;
 font-family: Arial, Helvetica, sans-serif;
 text-align: center;
 align-items: center;
}

.footer-Copyright
{
 width: 100%;
 height: 40px;
 background: rgb(3, 35, 67);
 text-align: center;
}
 
.fa-phone
{
 color: #2899eb;
 width: 30px;
 height: 20px;
}
.fa-whatsapp-square
{
 color: seagreen;
 width: 30px;
 height: 20px;
}

.fa-envelope-square
{
 color: #e4e5ee;
 width: 30px;
 height: 20px;
}
.fa-globe
{
 color: #eeeee4;
 width: 30px;
 height: 20px;
}

.fa-frown
{
 color:#f7c00d ;
 width: 50px;
 height: 40px;
}

.follow_us p
{
 text-align: center;
 font-size: 15px;
 font-weight: 700;
 color: darkorange;
}


.fa-facebook-f,
.fa-twitter
{
 color: rgb(6, 53, 99);
 background: white;
 width: 20px;
 height: 20px;
}

.fa-google-plus-g
{
  background: ghostwhite;
  color: red;
}
.fa-instagram-square
{
 color: blueviolet;
 background: white;
 width: 20px;
 height: 20px;
}

.fa-youtube-square
{
 color: rgb(82, 5, 8);
 background: white;
 width: 20px;
 height: 20px;
}